/******************************************************************
Site Name: Brownlee LLP
Author: OH Collective

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {
	font-family: Georgia, serif;
	font-size: 12px;
	line-height: 150%;
	background: url(../images/bg-fade.png) left 312px repeat-x;
	background-color: #f4eee7;
}


.main {
	width: 960px;
	margin: -172px auto 0;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 960px;
}

/*********************
HEADER STYLES
*********************/

.header {
	width: 100%;
	height: 324px;
	background: url(../images/top-bg-strip.png) top repeat-x;
	border-top: 6px solid #a4713b;
	border-bottom: 6px solid white;

	#top-section {
		height: 318px;
	}

	#top-section ul {
		float: right;
		margin: 0;
		padding: 0;
	}

	#top-section li {
		float: left;
	}

	#top-section ul li a {
		font-family: Tahoma, sans-serif;
		font-size: 12px;
		display: block;
		padding: 15px 10px;
		color: #bebdbd;
		text-decoration: none;
		text-transform: uppercase;
	}

	#top-section ul li a:hover {
		color: #a4713b;
	}

	#active {
		color: #a4713b !important;
	}

	#logo {
		width: 347px;
		height: 94px;
		display: block;
		margin: 0 auto;
	}

	.current-menu-item {
		color: #a4713b
	}

	form {
		float: right;
		padding: 15px 0 0 10px;
		width: 200px;

		.screen-reader-text {
			display: none;
		}

		#s {
			padding: 2px 6px;
			background: #6B6B6B;
			border: none;
			color: #aaa;
		}

		#searchsubmit {
			font-family: Arial, sans-serif;
			font-size: 12px;
			border: none;
			text-align: center;
			text-transform: uppercase;
			padding: 2px 4px;
			color: #bebdbd;
			background: #4D4A4A;
		}
	}
}

.main-banner {
	position: relative;
	height: 282px;

	 
	.top-image {
		position: absolute;
		top: 0;
		left: 10px;
	}

	.top-image-shadow {
		position: absolute;
		top: 478px;
		left: 22px;
	}

	.title {
		position: absolute;
		display: block;
		width: 70%;
		height: 102px;
		background-color: #981231;
		bottom: 10px;
		left: 0;
	}

	.title h1 {
		font-family: Helvetica, Arial, sans-serif;
		font-size: 1.5em;
		color: white;
		text-transform: uppercase;
		width: 85%;
		padding: 38px 0 0 0;
		margin: 0 0 0 48px;
		border-bottom: 2px solid #AE445D;
	}

	.side-module {
		position: absolute;
		display: block;
		width: 30%;
		padding: 25px 0 0 67px;
		height: 102px;
		background-color: #800F29;
		bottom: 10px;
		right: 0;
	

		 a {
			display: block;
			height: 40px;
			width: 40px;
			float: left;
			margin: 5px;
		}
	}

}/*end of main banner*/

/*********************
NAVIGATION STYLES
*********************/

.nav {
	background: #2D546E;
	width: 232px;
	padding: 4px 30px 8px;
	margin: 32px 0;

	ul {
		margin: 0;
	}

	li {
		position: relative;
		border-bottom: 2px solid #476980;

		a {
			width: 200px;
			font-family: tahoma, sans-serif;
			font-size: 14px;
			color: white;
			background: #2D546E;
			text-transform: uppercase;
			font-family: tahoma, sans-serif;
			font-size: 14px;
			border-bottom: none;
			padding: 8px 0;

		&:hover, &:focus {
			color: #a4713b;
			}
		}
	}

	li:last-of-type {
				border-bottom:none;
			}

	.sub-menu li {
		border-bottom: none;
	}
} /* end of nav */

.nav .sub-menu {
	display: none;
	position: absolute;
	z-index: 100;
	left: 200px;
	background: #C7BBAE;
	border: 10px solid #D8CFC4;
	padding: 8px 0;
	top: -4px;
}

.nav li:hover .sub-menu {
			display: block;

			ul {
				position: relative;
				background: none;
				border: none;
				padding: 0;
				left: 20px;

				li a::before {
					content: ">";
					color: #a4713b;
					padding: 0 4px 0 0;
					font-size: 14px;
				}
			}
		}

.sub-menu li a {
	background: none;
	border-bottom: none;
	color: #666564;
	font-size: 12px;
	padding: 1px 0 1px 20px;

	:hover {
		color: #A4713B;
	}
}
/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
	width: 231px;
	margin: 0;

	h4 {
		font-family: tahoma, sans-serif;
		color: #386787;
		font-size: 18px;
		font-weight: normal;
		text-transform: uppercase;
		margin: 10px 0 20px;
		padding: 0 0 7px;
		border-bottom: 7px solid #E7E0D8;
	}

	a {
		color: #A4713B;
		text-transform: capitalize;
		font-family: Georgia, sans-serif;
		font-size: 12px;
		text-decoration: none;
	}

	a:hover {
		color: #A4713B;
		text-decoration: underline;
	}
}

/*********************
FOOTER STYLES
*********************/

footer {
	width: 960px;
	margin: 0 auto;
	clear: both;
}

.lawyer-search {
	margin: 0 0 160px 20px;
	font-family: Arial, sans-serif;
	font-size: 12px;


	h4 { 
		font-family: Tahoma, sans-serif;
		color: #386787;
		font-size: 18px;
		font-weight: normal;
		text-transform: uppercase;	
		width: 90%;
		padding: 15px 0 6px;
		border-bottom: 2px solid #D8CFC4;
	}

	p {
		font-size: 12px;
		font-family: Georgia, serif;
		color: #666564;
		margin: 2px;
	}

	.input-group, span {
		float: left;
		margin: 0 10px 0 0 ;
	}

	span {
		font-family: Georgia, serif;
		font-size: 12px;
		color: #981231;
		margin: 25px 10px 0 0;
	}

	.search-input {
		width: 190px;
		height: 28px;
		background: url(../images/search-arrow.png) 172px 11px no-repeat;
		background-color: #587f9a;
		border: 2px solid #386787;
		color: #DEE5EB;
		text-transform: capitalize;
		appearance: none;
    	-webkit-appearance: none;
    	-moz-appearance: none;
    	text-overflow: '';
	}

	.search-input::-ms-expand {
    	display: none; /*IE fix*/
	}  

	.no-arrow {
		background: none;
		background-color: #587f9a;
	}

	.search-button {
		font-family: Arial, sans-serif;
		font-size: 12px;
		background-color: #A4713B;
		color: white;
		border: none;
		text-transform: uppercase;
		padding: 6px 7px;
		margin: 0 0 0 5px;
	}

}

.site-map {
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	color: #5E5E5E;
	height: 220px;

	a {
		color: #386787;
		text-decoration: none;
	}

	a:hover {
		color: #0b3768;
		text-decoration: underline;
	}

	.sm-left {
		float: left;
		height: 182px;
		width: 250px;
		background: url(../images/sitemap-left-bg.png) top left repeat-x;

		img {
			margin: 60px 0 0 208px;
		}

		p {
			text-align: center;	
			margin: 60px 0 0 0;
		}

	}

	.sm-right {
		float: left;
		height: 182px;
		width: 675px;
		background: url(../images/sitemap-right-bg.png) top left repeat-x;

		.sm-top-nav {

			margin: 12px 0 0 36px;

			li:first-of-type{
				margin: 0 20px 0 0;
			}

			 li {
				display: inline-block;
				margin: 0 8px;
			}

		}

		.sm-column {
			float: left;
			padding: 0 0 0 36px;

			h4 {
			display: inline-block;
			font-family: Tahoma, sans-serif;
			font-size: 11px;
			font-weight: normal;
			color: #5E5E5E;
			border-bottom: 2px solid #c7bbad;
			margin: 26px 0 0 0;
			}

			ul {
				line-height: 16px;
				margin: 6px 0;
			}
		}
	}
}

/*********************
HOME STYLES
*********************/

.home-top {
	position: relative;

	.top-nav {
		position: absolute;
		top: 220px;
		border: none;
	}

	.home-intro {
		position: absolute;
		width: 730px;
		height: 262px;
		background-color: #981231;
		padding: 25px;
		right:0;
		top: 252px;

		h1 {
			font-family: Tahoma, sans-serif;
			font-size: 16px;
			color: white;
			display: inline-block;
			border-bottom: 2px solid #AE445D;
			padding: 0 0 6px 0;
		}

		p {
			font-family: Georgia, serif;
			font-size: 14px;
			line-height: 150%;
			color: #FAF3F4;
		}
	}
}

.homepage {
	margin: 284px 0 0 0;
	width: 990px;

	.locations {
		position: relative;
		float: left;
		display: block;
		width: 230px;
		height: 250px;
		margin: 0 32px 0 0;

		.office {
			position: relative;
			cursor: pointer;
			display: inline-block;
			float: left;
			width: 50%;
			height: 250px;

		h3 {
			font-family: Tahoma, sans-serif;
			font-size: 13px;
			display: block;
			color: white;
			background: rgba(0,0,0,0.75);
			text-align: center;
			text-transform: uppercase;
			margin: 212px 0 0 0;
			padding: 10px 0;
			}

		}

		} /*end of office */

		.office:nth-of-type(1) {
			background: url(../images/edmonton-office.jpg) top left no-repeat;
		}

		.office:nth-of-type(2) {
		background: url(../images/calgary-office.jpg) top left no-repeat;
		}
	}/* end of locations */

	.sidebar-entry {
		float: left;
		width: 200px;
		margin: 0 20px;

		span {
			display: block;
			font-family: Georgia, serif;
			color: #981231;
			border-bottom: 2px solid #E7E0D8; 
		}

		h3 {
			font-family: tahoma, sans-serif;
			color: #386787;
			font-size: 18px;
			font-weight: normal;
			text-transform: uppercase;
			margin: 0 0 3px 0;
		}

		a {
			color: #A4713B;
			text-transform: capitalize;
			font-family: Georgia, sans-serif;
			font-size: 12px;
			text-decoration: none;
		}

		a:hover {
			color: #A4713B;
			text-decoration: underline;
		}

		.full {
			display: block;
			font-family: Arial, sans-serif;
			text-align: center;
			width: 20px;
			padding: 2px;
			color: #fff;
			background: #A4713B;
		}

		.view {
			display: block;
			color: #386787;
			border-top: 2px solid #E7E0D8;
			padding: 4px 0 0 0;
		}
	}

.flyout {
	position: absolute;
	width: 255px;
	height: 250px;
	background: url(../images/arrow.png) 0px no-repeat;
	background-color: #c7bbae;
	border: 10px solid #d8cfc4;
	padding: 18px;
	top: 0;
	z-index: 10;
	overflow: visible;
	display: none;

		h2 {
		color: #2D546E;
		font-size: 13px;
		font-weight: 900;
		text-transform: uppercase;
		background: none;
		text-align: left;
		border-bottom: 2px solid #b2a89e;
		padding: 0 0 10px 0;
		}

	#map {
		position: absolute;
		right: 18px;
		top: 72px;
		background: none;
	}

	.flyout-wrap {
		width: 158px;

		p span {
			text-align: left;
		}
	}

	a {
		color: #A4713B !important;
		text-decoration: none;
		padding: 4px 0;
	}

	a:hover {
			text-decoration: underline;
		}

	a:last-of-type {
		padding: 0 0 0 10px;
		background: url(../images/location-arrow.png) no-repeat left 4px;
	}
}

.office-ed:hover .flyout {
	display: block;
}

.office-cal:hover .flyout {
	display: block;
}

.flyout-left {
left: 115px;
@include transition(all 0.2s ease-in-out);
}

.flyout-right {
left: 115px;
}

/*********************
GENERIC CONTENT STYLES
*********************/

.main-content {
	margin: 38px 0 0 38px;
	width: 620px;
	float: left;

	a {
		color: #a4713b;
	}


	h1 {
	font-family: Tahoma, sans-serif;
	color: #386787;
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
	}
}

.side-panel {
	float: left;
	padding: 0 0 0 20px;
}


/*********************
PEOPLE STYLES
*********************/
.people {
		float: left;
		margin: 0 0 0 30px;
		width: 440px;

	.link {
		display: inline-block;
		font-family: Arial, sans-serif;
		font-size: 12px;
		background-color: #A4713B;
		color: white;
		border: none;
		text-transform: uppercase;
		text-decoration: none;
		padding: 2px 5px;
		margin: 0 0 0 5px;

		:hover {
		color: white;
		text-decoration: underline;
		}		
	}

	.admin {
		width: 240px;
		margin: 0 0 30px 0;

		h3 {
			color: #135cae;
			font-family: Tahoma, sans-serif;
			font-size: 16px;
			font-weight: normal;
		}

		span {
			display: block;
			font-style: normal;
		}

		a {
			color: #a4713b;
			text-decoration: none;

		:hover {
				color: #0b3768;
				text-decoration: underline;
			}
		}
	}
}

/*********************
STUDENT STYLES
*********************/

.student-wrap {
		float: left;
		margin: 0 0 0 30px;
		width: 640px;

		h2 {
			font-family: Tahoma;
			font-size: 18px;
			color: #386787;
			text-transform: uppercase;
		}

		.student {
			float: left;
			margin: 15px 0 0 0;

			img, .col1, .col2 {
				float: left;
			}

			img {
				margin: 0 14px 0 0;
			}

			.col1 {
				width: 190px;

				h3 {
					font-family: Georgia, serif;
					font-weight: 900;
					margin: 0;
				}

				em {
					font-style: normal;
				}

				a{
					color: #a4713b;
					text-decoration: none;
					line-height: 24px;

					:hover {
						color: #0b3768;
						text-decoration: underline;
					}
				}
			}

			.col2 {
				width: 270px;

				span {
					float: left;
					line-height: 24px;
				}
			}
		}
}



/*********************
LAWYER PROFILE STYLES
*********************/
.profile-wrap {
	float: left;
	width: 645px;
	margin: 40px 0 0 40px;	

	.profile {
		position: relative;
		float: left;
		width: 645px;
		background-color: #d3cabe;

		.linkedin {
			position: absolute;
			right: 30px;
			top: 14px;
			border: none;
			margin: 0;
		}

		.profile-picture {
			float: left;
			border: 8px solid #C0B6AA;
			margin: 10px;
		}

		dl {
			float: left;
			width: 300px;
		}

		dt {
			color: #4D4D4D;
		}

		dd {
			color: #949089;
		}

		dl:first-of-type {


			dt {
				width: 65px;
				float: left;
			}
		}	
	}

	.profile-bar {
		float: left;
		width: 645px;
		height: 40px;
		margin: 4px 0 0 0;
		background: #c0b6aa;

		ul {
			padding: 0 0 0 6px;
		}

		li {
			display: inline-block;
			text-transform: uppercase;
			font-size: 11px;
			font-family: Tahoma;
			margin: 0 8px;
		}

		a {
			color: white;
		}
	}

	.profile-info {
		float: left;
		width: 645px;
		margin: 10px 0 0 0;

		h1{
		font-family: Tahoma, sans-serif;
		color: #386787;
		font-size: 18px;
		font-weight: normal;
		text-transform: uppercase;
		}

		p {
			font-family: Georgia, serif;
			font-size: 13px;
			line-height: 130%;
		}
	}

	.profile-button {
		float: left;
		font-family: Arial, sans-serif;
		font-size: 12px;
		background-color: #A4713B;
		color: white;
		border: none;
		text-transform: uppercase;
		padding: 6px 7px;
		margin: 20px 0 0 0;
	}
}

/*********************
LAWYER MAIN STYLES
*********************/

.all-lawyers {
	float: left;
	width: 600px;
	padding: 50px 0 50px;

	.single-lawyer {
		float: left;
		width: 50%;
		padding: 0 0 0 40px;

		* {
			display: inline;
		}

		img {
			border: 3px solid #C0B6AA;
		}

		a {
			color: #a4713b;
			text-decoration: none;
			vertical-align: 150%; 
		}

		a:hover {
				color: #0b3768;
				text-decoration: underline;
		}
	}
}

/*********************
PRACTICE AREAS STYLES
*********************/

.practice-areas {
	li {
		background: url(../images/bullet.png) left top no-repeat;

		a {
			color: #a4713b;
			font-size: 13px;
			text-transform: capitalize;
			text-decoration: none;
			padding: 0 0 0 14px;
		}

		a:hover {
				color: #0b3768;
				text-decoration: underline;
		}
	}
}

/*********************
MUNICIPAL HELPLINE STYLES
*********************/
.municipal {
	float: left;
	margin: 0 0 0 30px;
	width: 640px;

	h1 {
	font-family: Tahoma, sans-serif;
	color: #386787;
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
	}

	li {
		background: url(../images/bullet.png) left 11px no-repeat;
		padding: 7px 0 0 30px;
		line-height: 150%;
	}

	.municipal-contact {
		float: left;
		width: 260px;
		border: 7px solid #E7E0D8;
		padding: 15px;
		margin: 0 15px 15px 0;

		h3 {
			color: #2d546e;
			font-family: Georgia, serif;
			font-size: 12px;
			font-weight: 900;
		}

		li {
			background: url(../images/phone.png) top left no-repeat;
			padding: 0 0 0 20px;
			font-weight: 900;
		}

		a {
			color: #a4713b;
			text-transform: capitalize;
			text-decoration: none;
		}

		a:hover {
				color: #0b3768;
				text-decoration: underline;
		}
	}
}

/*********************
CONTACT STYLES
*********************/

.contacts {
	float: left;
	width: 700px;
	padding: 50px 0 50px 30px;

	.contacts-wrap {
		width: 700px;
		height: 352px;
		margin: 0 auto;
		border-bottom: 2px solid #c0b6aa;

		h2{
			font-family: Tahoma;			
			font-size: 18px;
			color: #386787;
			text-transform: uppercase;
		}

		a {
		color: #A4713B;
		text-decoration: none;
		padding: 4px 0;
		}

		a:hover {
			text-decoration: underline;
		}

		img, .contact-info, .map{
			float: left;
		}

		img {
			border: 2px solid #c0b6aa;
			margin: 10px 40px 0 0;
		}

		.contact-info {
			width: 215px;
			margin: 10px 40px 0 0;

			span{
				text-align: left;
			}
		}

		.map {
			width: 140px;

			a {
				font-weight: 900;
				line-height: 32px;
			}
		}
	}

	.contacts-wrap:last-of-type{
		border-bottom: none;
	}
}

/*********************
E-BULLETIN STYLES
*********************/

.ebulletin {
	float: left;
	margin: 0 0 0 30px;
	width: 640px;

	form {

		h2{
			text-transform: uppercase;
			font-size: 18px;
			font-weight: 900;
			color: #386787;
			text-align: left;
			margin: 28px 0;
		}

		.input-line {
			margin: 30px 0;

			#email {
				height: 32px;
				width: 230px;
			}

			#code {
				height: 32px;
				width: 90px;
			}
		}

		label {
			margin: 0 12px 0 0;
		}

		input {
			background-color: #587F9A;
			border: 2px solid #386787;
			font-family: Tahoma, sans-serif;
			font-size: 14px;
			color: #DEE5EB;
			padding: 3px 10px;
		}

		.instruct {
			font-weight: 900;
		}

		.check-wrap {
			margin: 20px 6px;
		}
	}

	.submit {
		font-family: Arial, sans-serif;
		font-size: 14px;
		background-color: #A4713B;
		color: white;
		border: none;
		text-transform: uppercase;
		padding: 7px;
		margin: 0 0 0 5px;
	}
}

/*********************
NEWS AND EVENTS STYLES
*********************/

.news-events {
	float: left;
	width: 690px;

	.news-list {
		float: left;
		width: 280px;
		margin: 30px;
	}

	.events-list {
		float: left;
		width: 280px;
		margin: 30px;
	}
}